# Corporate Finance Homework 1 (Question 7)

In [28]:
import pandas as pd
filename = "wrds_data.csv" # "i6phkajlrvf1t8gd.csv"
df = pd.read_csv(filename)
df.head()

,Global Company Key,Data Date,Data Year - Fiscal,Industry Format,Level of Consolidation - Company Annual Descriptor,Population Source,Data Format,ISO Currency Code,Common/Ordinary Equity - Total,Common Shares Outstanding,Debt in Current Liabilities - Total,Long-Term Debt - Total,Active/Inactive Status Marker,Standard Industrial Classification - Historical,Price Close - Annual - Fiscal,Standard Industry Classification Code
0,1000,31-Dec-61,1961.0,INDL,C,D,STD,USD,NaN,0.152,NaN,0.100,I,NaN,NaN,3089.0
1,1000,31-Dec-62,1962.0,INDL,C,D,STD,USD,0.552,0.181,NaN,0.000,I,NaN,NaN,3089.0
2,1000,31-Dec-63,1963.0,INDL,C,D,STD,USD,0.553,0.186,NaN,0.015,I,NaN,NaN,3089.0
3,1000,31-Dec-64,1964.0,INDL,C,D,STD,USD,0.607,0.196,0.088,0.522,I,NaN,NaN,3089.0
4,1000,31-Dec-65,1965.0,INDL,C,D,STD,USD,0.491,0.206,0.300,1.154,I,NaN,NaN,3089.0

In [2]:
df.columns

Index(['Global Company Key', 'Data Date', 'Data Year - Fiscal',
       'Industry Format', 'Level of Consolidation - Company Annual Descriptor',
       'Population Source', 'Data Format', 'ISO Currency Code',
       'Common/Ordinary Equity - Total', 'Common Shares Outstanding',
       'Debt in Current Liabilities - Total', 'Long-Term Debt - Total',
       'Active/Inactive Status Marker',
       'Standard Industrial Classification - Historical',
       'Price Close - Annual - Fiscal',
       'Standard Industry Classification Code'],
      dtype='object')

In [29]:
df2=df.copy()
df2['BookLeverage'] = (df2['Long-Term Debt - Total'] + df2['Debt in Current Liabilities - Total']) / (df2['Long-Term Debt - Total'] + df2['Debt in Current Liabilities - Total'] + df2['Common/Ordinary Equity - Total'])
df2['MarketLeverage'] = (df2['Long-Term Debt - Total'] + df2['Debt in Current Liabilities - Total']) / (df2['Long-Term Debt - Total'] + df2['Debt in Current Liabilities - Total'] + df2['Price Close - Annual - Fiscal'] * df2['Common Shares Outstanding'])

df2.head()

,Global Company Key,Data Date,Data Year - Fiscal,Industry Format,Level of Consolidation - Company Annual Descriptor,Population Source,Data Format,ISO Currency Code,Common/Ordinary Equity - Total,Common Shares Outstanding,Debt in Current Liabilities - Total,Long-Term Debt - Total,Active/Inactive Status Marker,Standard Industrial Classification - Historical,Price Close - Annual - Fiscal,Standard Industry Classification Code,BookLeverage,MarketLeverage
0,1000,31-Dec-61,1961.0,INDL,C,D,STD,USD,NaN,0.152,NaN,0.100,I,NaN,NaN,3089.0,NaN,NaN
1,1000,31-Dec-62,1962.0,INDL,C,D,STD,USD,0.552,0.181,NaN,0.000,I,NaN,NaN,3089.0,NaN,NaN
2,1000,31-Dec-63,1963.0,INDL,C,D,STD,USD,0.553,0.186,NaN,0.015,I,NaN,NaN,3089.0,NaN,NaN
3,1000,31-Dec-64,1964.0,INDL,C,D,STD,USD,0.607,0.196,0.088,0.522,I,NaN,NaN,3089.0,0.501233,NaN
4,1000,31-Dec-65,1965.0,INDL,C,D,STD,USD,0.491,0.206,0.300,1.154,I,NaN,NaN,3089.0,0.747558,NaN

In [36]:
df2[(df2["Debt in Current Liabilities - Total"] == -1*df2["Common/Ordinary Equity - Total"]) & (df2["Long-Term Debt - Total"] == 0)][["Debt in Current Liabilities - Total","Common/Ordinary Equity - Total","Long-Term Debt - Total","BookLeverage","MarketLeverage"]]
df2[df2["BookLeverage"] == np.inf][["Debt in Current Liabilities - Total","Common/Ordinary Equity - Total","Long-Term Debt - Total","BookLeverage","MarketLeverage"]]

,Debt in Current Liabilities - Total,Common/Ordinary Equity - Total,Long-Term Debt - Total,BookLeverage,MarketLeverage
10620,0.000,-0.280,0.280,inf,NaN
10621,0.000,-0.280,0.280,inf,NaN
10622,0.000,-0.280,0.280,inf,NaN
51607,0.020,-0.020,0.000,inf,0.000114
185918,0.009,-0.009,0.000,inf,NaN
212750,0.195,-0.195,0.000,inf,0.120057
233307,0.272,-0.272,0.000,inf,0.030966
246466,0.004,-0.004,0.000,inf,0.000388
272049,0.079,-0.079,0.000,inf,0.335813
288061,0.005,-0.005,0.000,inf,NaN
331833,0.200,-0.200,0.000,inf,NaN
332078,0.638,-0.638,0.000,inf,NaN
421867,0.024,-0.139,0.115,inf,NaN
446491,0.262,-0.262,0.000,inf,0.461863
450882,0.038,-0.038,0.000,inf,0.666491
459651,0.202,-0.202,0.000,inf,0.016743
474142,0.000,-0.005,0.005,inf,0.007019
478069,0.013,-0.019,0.006,inf,0.005350
487653,0.002,-0.002,0.000,inf,0.032258
489412,0.309,-0.594,0.285,inf,0.294643
493710,0.013,-0.013,0.000,inf,0.001650
496776,0.082,-0.082,0.000,inf,0.065943
501541,0.003,-0.003,0.000,inf,0.003826
508992,0.140,-0.140,0.000,inf,0.196522
533108,0.030,-0.030,0.000,inf,0.016760
540471,0.558,-0.558,0.000,inf,0.720791
555825,2.856,-2.856,0.000,inf,NaN
557046,0.005,-0.005,0.000,inf,0.000198
567842,0.003,-0.003,0.000,inf,0.016218

In [4]:
df2.isna().sum()

Global Company Key                                         0
Data Date                                                  0
Data Year - Fiscal                                       157
Industry Format                                            0
Level of Consolidation - Company Annual Descriptor         0
Population Source                                          0
Data Format                                                0
ISO Currency Code                                        157
Common/Ordinary Equity - Total                         94800
Common Shares Outstanding                              74827
Debt in Current Liabilities - Total                    89679
Long-Term Debt - Total                                 80786
Active/Inactive Status Marker                              0
Standard Industrial Classification - Historical       273818
Price Close - Annual - Fiscal                         119561
Standard Industry Classification Code                      5
BookLeverage                                          102469
MarketLeverage                                        217156
dtype: int64

In [5]:
df3 = df2.dropna(subset=['BookLeverage', 'MarketLeverage'])
df3.isna().sum()

Global Company Key                                         0
Data Date                                                  0
Data Year - Fiscal                                         0
Industry Format                                            0
Level of Consolidation - Company Annual Descriptor         0
Population Source                                          0
Data Format                                                0
ISO Currency Code                                          0
Common/Ordinary Equity - Total                             0
Common Shares Outstanding                                  0
Debt in Current Liabilities - Total                        0
Long-Term Debt - Total                                     0
Active/Inactive Status Marker                              0
Standard Industrial Classification - Historical       121667
Price Close - Annual - Fiscal                              0
Standard Industry Classification Code                      1
BookLeverage                                               0
MarketLeverage                                             0
dtype: int64

In [6]:
df3['MarketLeverage'].value_counts()

0.000000    50937
1.000000       77
0.999957        6
0.131579        4
0.062500        4
            ...
0.406468        1
0.065167        1
0.105074        1
0.035850        1
0.266706        1
Name: MarketLeverage, Length: 307388, dtype: int64

In [7]:
#a = df.groupby('Global Company Key')[['MarketLeverage']].agg(lambda g: np.nanpercentile(g, 99))

In [8]:
#df1=df.merge(a, how='left', on='Global Company Key', suffixes=('_original','_99') )

In [9]:
#df['MarketLeverage']>
#for i in df['Global Company Key']:
# a['MarketLeverage']

In [10]:
#b = df1.groupby('Global Company Key')[['MarketLeverage_original']].agg(lambda g: np.nanpercentile(g, 1))
#df2=df1.merge(b, how='left', on='Global Company Key', suffixes=('_one','_1') )

In [11]:
#mask=df2['MarketLeverage_original_one']>df2['MarketLeverage_99']

In [12]:
#df2[mask]['MarketLeverage_original_one']=df2[mask]['MarketLeverage_99']

In [13]:
#df_new = df2.copy()
#df_new["MarketLeverage_original_one"] = df_new.apply(lambda x: (value_1 if x['MarketLeverage_original_one'] > x['MarketLeverage_99'] else value_2),axis = 1)

In [14]:
from scipy.stats.mstats import winsorize
df3['MarketLeverage']=winsorize(df3['MarketLeverage'], limits=[0.01, 0.01])
df3['BookLeverage']=winsorize(df3['BookLeverage'], limits=[0.01, 0.01])
df3.head(5)
df3['MarketLeverage'].value_counts()

<ipython-input-14-e1ed3411a357>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['MarketLeverage']=winsorize(df3['MarketLeverage'], limits=[0.01, 0.01])
<ipython-input-14-e1ed3411a357>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['BookLeverage']=winsorize(df3['BookLeverage'], limits=[0.01, 0.01])

0.000000    50939
0.950426     3595
0.131579        4
0.062500        4
0.367297        3
            ...
0.717904        1
0.461742        1
0.116347        1
0.280738        1
0.266706        1
Name: MarketLeverage, Length: 303876, dtype: int64

In [15]:
df4 = df3.copy()
df4["Standard Industrial Classification - Historical"] = df4.apply(lambda x: (x['Standard Industry Classification Code'] if x['Standard Industrial Classification - Historical'] == 0 else x['Standard Industrial Classification - Historical']),axis = 1)

In [16]:
df4[df4['Standard Industrial Classification - Historical']==df4['Standard Industry Classification Code']]

,Global Company Key,Data Date,Data Year - Fiscal,Industry Format,Level of Consolidation - Company Annual Descriptor,Population Source,Data Format,ISO Currency Code,Common/Ordinary Equity - Total,Common Shares Outstanding,Debt in Current Liabilities - Total,Long-Term Debt - Total,Active/Inactive Status Marker,Standard Industrial Classification - Historical,Price Close - Annual - Fiscal,Standard Industry Classification Code,BookLeverage,MarketLeverage
45,1003,31-Jan-88,1987.0,INDL,C,D,STD,USD,7.643,2.683,0.030,5.478,I,5712.0,2.750000,5712.0,0.418827,0.427432
46,1003,31-Jan-89,1988.0,INDL,C,D,STD,USD,-0.194,2.683,7.626,0.104,I,5712.0,1.750000,5712.0,1.025743,0.622120
47,1003,31-Jan-90,1989.0,INDL,C,D,STD,USD,-0.416,2.683,4.449,0.076,I,5712.0,0.125000,5712.0,1.101241,0.930998
70,1004,31-May-88,1987.0,INDL,C,D,STD,USD,150.497,15.870,48.868,23.781,A,5080.0,25.124977,5080.0,0.325567,0.154119
71,1004,31-May-89,1988.0,INDL,C,D,STD,USD,171.580,16.009,70.271,25.707,A,5080.0,31.249992,5080.0,0.358718,0.160967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578471,332115,31-Dec-19,2019.0,INDL,C,D,STD,USD,14.593,9.923,1.308,1.555,A,2836.0,3.250000,2836.0,0.164012,0.081537
578472,332115,31-Dec-20,2020.0,INDL,C,D,STD,USD,18.857,18.688,2.273,10.877,A,2836.0,2.984900,2836.0,0.410848,0.190768
578480,339965,31-Jan-21,2020.0,INDL,C,D,STD,USD,4936.471,287.918,19.650,184.887,A,7370.0,272.450000,7370.0,0.039785,0.002601
578483,345920,31-Dec-20,2020.0,INDL,C,D,STD,USD,210.918,33.500,4.447,15.610,A,3524.0,52.580000,3524.0,0.086836,0.011259
578489,345980,31-Dec-20,2020.0,INDL,C,D,STD,USD,1027.000,587.000,14.000,38.000,A,5961.0,18.240000,5961.0,0.048193,0.004833

In [17]:
#All firm-years in Compustat

print('Average Book Leverage', df4['BookLeverage'].mean())
print('Average Market Leverage', df4['MarketLeverage'].mean())

print('Count of Book Leverage', df4['BookLeverage'].count())
print('Count of Market Leverage', df4['MarketLeverage'].count())

Average Book Leverage 0.34209953750162087
Average Market Leverage 0.278995277828435
Count of Book Leverage 359496
Count of Market Leverage 359496

In [18]:
#All firm-years for which SICH is in the range 4900-4999 (utilities)
mask=df4['Standard Industrial Classification - Historical']>=4900 
mask2 = df4['Standard Industrial Classification - Historical']<=4999

print('Average Book Leverage', df4[mask & mask2]['BookLeverage'].mean())
print('Average Market Leverage', df4[mask & mask2]['MarketLeverage'].mean())

print('Count of Book Leverage', df4[mask & mask2]['BookLeverage'].count())
print('Count of Market Leverage', df4[mask & mask2]['MarketLeverage'].count())

Average Book Leverage 0.5125718518893692
Average Market Leverage 0.405548257044788
Count of Book Leverage 7397
Count of Market Leverage 7397

In [19]:
#All firm-years for which SICH is in the range 2000-3999 (manufacturing)

mask=df4['Standard Industrial Classification - Historical']>=2000 
mask2 = df4['Standard Industrial Classification - Historical']<=3999

print('Average Book Leverage', df4[mask & mask2]['BookLeverage'].mean())
print('Average Market Leverage', df4[mask & mask2]['MarketLeverage'].mean())

print('Count of Book Leverage', df4[mask & mask2]['BookLeverage'].count())
print('Count of Market Leverage', df4[mask & mask2]['MarketLeverage'].count())

Average Book Leverage 0.29366252555755684
Average Market Leverage 0.2074420050243661
Count of Book Leverage 94335
Count of Market Leverage 94335

In [20]:
#All firm-years for which SICH is in the range 6000-6199 (banks and credit unions)

mask=df4['Standard Industrial Classification - Historical']>=6000 
mask2 = df4['Standard Industrial Classification - Historical']<=6199

print('Average Book Leverage', df4[mask & mask2]['BookLeverage'].mean())
print('Average Market Leverage', df4[mask & mask2]['MarketLeverage'].mean())

print('Count of Book Leverage', df4[mask & mask2]['BookLeverage'].count())
print('Count of Market Leverage', df4[mask & mask2]['MarketLeverage'].count())

Average Book Leverage 0.5168379201999965
Average Market Leverage 0.46571431071151165
Count of Book Leverage 16279
Count of Market Leverage 16279

In [21]:
#All firm-years for which SICH is 7372 (computer software)

mask=df4['Standard Industrial Classification - Historical']==7372 

print('Average Book Leverage', df4[mask]['BookLeverage'].mean())
print('Average Market Leverage', df4[mask]['MarketLeverage'].mean())

print('Count of Book Leverage', df4[mask]['BookLeverage'].count())
print('Count of Market Leverage', df4[mask]['MarketLeverage'].count())

Average Book Leverage 0.1014461045163288
Average Market Leverage 0.08017341119763709
Count of Book Leverage 8217
Count of Market Leverage 8217